@model ELearningSystem.Models.Question
@using ELearningSystem.Models
@{
    ViewBag.Title = "FillTable";
}

@using (Html.BeginForm())
{
    <div style="margin-bottom:10px;float:left;">
        <div class="editor-label">@Html.Label(@ELearningSystem.Resources.Resource.strEnterQuestionAndAnswers)</div>
        <div class="editor-field">
            <input class="form-control"
                   style="min-width:700px;"
                   id="Content"
                   name="Content"
                   type="text"
                   placeholder="@ELearningSystem.Resources.Resource.strEnterQuestion" />
        </div>
        <br />
        @for (var j = 0; j < 4; j++)
        {
            <div>
                @Html.CheckBoxFor(m => Model.Answers[j].IsChecked)
                @Html.TextBoxFor(m => m.Answers[j].Content, htmlAttributes: new { @style = "min-width:350px;" })

                @Html.HiddenFor(m => m.Id)

            </div>


        }
    </div>
    <div style="">
        <input type="submit" value="@ViewBag.SubmitValue" style="width:400px; margin-top:320px;" />
    </div>
}

<style>
    .custom-class-for-width {
        width: 60%;
        height: 30%;
        max-height: 30%;
        max-width: 60%;
    }
</style>
<style>
    .custom-class-for-textbox {
        width: 800px;
    }
</style>
