@{
    ViewBag.Title = @ELearningSystem.Resources.Resource.strForUs;
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>@ELearningSystem.Resources.Resource.strInformationAbout</p>
<p>@ELearningSystem.Resources.Resource.strInformationAbout2 </p>
