@{
    ViewBag.Title = @Resources.Resource.strForUs;
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>@Resources.Resource.strInformationAbout</p>
<p>@Resources.Resource.strInformationAbout2 </p>
