@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h3>@Resources.Resource.strELearningSystem</h3>
    <p class="lead"></p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">@Resources.Resource.strLearnMore &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>@Resources.Resource.strPossibilities</h3>
        <p>
            @Resources.Resource.strInformationHome
        </p>
        <p><a class="btn btn-default" href="~/Courses/Index">@Resources.Resource.strStart &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>@Resources.Resource.strPossibilities</h3>
        <p>@Resources.Resource.strInformationHome2</p>
        <p><a class="btn btn-default" href="~/Lecture/Index">@Resources.Resource.strLearnMore &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>
